OPENAI_MODEL=gpt-5-nano
OPENAI_API_KEY=your-api-key-here
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_API_KEY="AIzaSyAld4irViZwh2hkvJA07tEx2T6mq8p6nbs"
GOOGLE_GENERATIVE_AI_API_KEY=your-google-api-key-here
AI_PROVIDER=openai
